/*

    The following CSS codes are created by the YellowPencil plugin.
    https://yellowpencil.waspthemes.com/


    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. Global Styles
    02. Post Template
    03. Archive Page
    04. "Vetok" Page
    05. "반려동물 구강교실" Page
    06. "Front Page" Page
    07. "My account" Page
    08. "Home" Page

*/



/*-----------------------------------------------*/
/*  Global Styles                                */
/*-----------------------------------------------*/
body .stm-lms-modal-login .modal-body li:last-child{
	display: none;
}

body .stm_lms_courses__grid_right .stm_lms_courses__single .stm_price_course_hoverable{
	background-color:rgba(0,0,0,0.7) !important;
}

body .stm_lms_courses__grid_right .stm_lms_courses__single strong{
	font-size:18px !important;
	font-weight:400;
}

body .stm-lms-wrapper h1{
	font-weight:600 !important;
}

body .stm_lms_courses__grid_right .stm_lms_course__meta .stmlms-cats{
	color:#000000 !important;
}

body .stm_lms_courses__grid_right .stm_lms_course__meta .stmlms-lms-clocks{
	color:#000000 !important;
}

body .stm_lms_courses__grid_right .stm_lms_courses__single .stm_lms_courses__single--term{
	display:none;
}

body .stm_lms_courses__grid_right a h5{
	position:relative;
	top:-7px;
	color:#24252a !important;
	font-size:18px !important;
}

body .widgets .menu .menu-item{
	margin-bottom:-1px;
}

body .widgets .widget p{
	font-size:12px;
}

body .widgets .widget ul{
	list-style-type:none;
	padding-left:0px;
}

body .widgets p a{
	color:#e5e5e5;
}

@media (max-width:640px){

	body .stm-lms-wrapper h1{
	font-size: 20px;
}

body .stm_lms_courses__grid_right .stm_lms_courses__single .stm_price_course_hoverable{
	background-color:transparent !important;
}

body .stm_lms_courses__grid_right .stm_lms_courses__single strong{
	display:none !important;
	}

}



@media (min-width:992px){

	body #footer .footer_wrapper #footer_top .footer_widgets_wrapper .container .widgets .widget:nth-child(1){

	width:40% !important;
}

body #footer .footer_wrapper #footer_top .footer_widgets_wrapper .container .widgets .widget:nth-child(2){

	width:20% !important;
}

body #footer .footer_wrapper #footer_top .footer_widgets_wrapper .container .widgets .widget:nth-child(3){

	width:20% !important;
}

body #footer .footer_wrapper #footer_top .footer_widgets_wrapper .container .widgets .widget:nth-child(4){

	width:20% !important;
	}

}



/*-----------------------------------------------*/
/*  Post Template                                */
/*-----------------------------------------------*/
body.single-post .stm_lms_acc_tabs .stm_lms_acc_tabs__main .float_menu_item_active{
	display:none;
}



/*-----------------------------------------------*/
/*  Archive Page                                 */
/*-----------------------------------------------*/
body.archive #main .stm-lms-wrapper{
	padding-top:0px;
}



/*-----------------------------------------------*/
/*  "Vetok" Page                                 */
/*-----------------------------------------------*/
body.page-id-5397 #kboard-default-list .kboard-list-header{
	display:none;
}

body.page-id-5397 #kboard-default-list .kboard-default-poweredby{
	display:none;
}

body.page-id-5397 #kboard-default-document .kboard-default-poweredby{
	display:none;
}

body.page-id-5397 .kboard-list table thead{
	background-color:#f1f1f1 !important;
}

body.page-id-5397 .kboard-list thead .kboard-list-uid{
	border-bottom-color:#a9a9a9 !important;
	border-bottom-width:1px !important;
	border-top-style:solid !important;
	border-top-color:#a9a9a9 !important;
	font-weight:400 !important;
}

body.page-id-5397 .kboard-list thead .kboard-list-title{
	border-bottom-width:1px !important;
	border-bottom-color:#a9a9a9 !important;
	border-top-style:solid !important;
	border-top-width:2px;
	font-weight:400 !important;
}

body.page-id-5397 .kboard-list thead .kboard-list-user{
	border-bottom-width:1px !important;
	border-bottom-color:#a9a9a9 !important;
	font-weight:400 !important;
}

body.page-id-5397 .kboard-list thead .kboard-list-date{
	border-bottom-width:1px !important;
	border-bottom-color:#a9a9a9 !important;
	font-weight:400 !important;
}

body.page-id-5397 .kboard-list thead .kboard-list-vote{
	border-bottom-width:1px !important;
	border-bottom-color:#a9a9a9 !important;
	font-weight:400 !important;
}

body.page-id-5397 .kboard-list thead .kboard-list-view{
	border-bottom-width:1px !important;
	border-bottom-color:#a9a9a9 !important;
	font-weight:400 !important;
}

body.page-id-5397 #kboard-default-list{
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#a9a9a9;
}

body.page-id-5397 .kboard-list tr a{
	color:#273037 !important;
	color:#273037 !important;
}

body.page-id-5397 .kboard-document-wrap .kboard-title h1{
	padding-left:0px !important;
}

body.page-id-5397 .kboard-document-wrap .content-view{
	padding-left:0px !important;
	padding-right:0px !important;
}

body.page-id-5397 #kboard-default-document .kboard-document-wrap .kboard-document-action{
	padding-top:14px;
	padding-left:0px;
}

body.page-id-5397 #kboard-default-document .kboard-document-navi{
	display:none;
}

body.page-id-5397 .kboard-list tbody .kboard-list-date{
	font-size:12px !important;
}

body.page-id-5397 .kboard-list tbody .kboard-list-user{
	font-size:12px !important;
}

body.page-id-5397 .kboard-list tbody .kboard-list-view{
	font-size:12px !important;
}

body.page-id-5397 .kboard-list tbody .kboard-list-vote{
	font-size:12px !important;
}

body.page-id-5397 #kboard-search-form-2{
	display:none;
}

body.page-id-5397 #kboard-search-form-1{
	display:none;
}

body.page-id-5397 #main{
	background-color:#ffffff;
}



/*-----------------------------------------------*/
/*  "반려동물 구강교실" Page             */
/*-----------------------------------------------*/
body.page-id-5399 #kboard-default-list .kboard-list-header{
	display:none;
}

body.page-id-5399 #kboard-default-list .kboard-default-poweredby{
	display:none;
}

body.page-id-5399 #kboard-default-document .kboard-default-poweredby{
	display:none;
}

body.page-id-5399 .kboard-list table thead{
	background-color:#f1f1f1 !important;
}

body.page-id-5399 .kboard-list thead .kboard-list-uid{
	border-bottom-color:#a9a9a9 !important;
	border-bottom-width:1px !important;
	border-top-style:solid !important;
	border-top-color:#a9a9a9 !important;
	font-weight:400 !important;
}

body.page-id-5399 .kboard-list thead .kboard-list-title{
	border-bottom-width:1px !important;
	border-bottom-color:#a9a9a9 !important;
	border-top-style:solid !important;
	border-top-width:2px;
	font-weight:400 !important;
}

body.page-id-5399 .kboard-list thead .kboard-list-user{
	border-bottom-width:1px !important;
	border-bottom-color:#a9a9a9 !important;
	font-weight:400 !important;
}

body.page-id-5399 .kboard-list thead .kboard-list-date{
	border-bottom-width:1px !important;
	border-bottom-color:#a9a9a9 !important;
	font-weight:400 !important;
}

body.page-id-5399 .kboard-list thead .kboard-list-vote{
	border-bottom-width:1px !important;
	border-bottom-color:#a9a9a9 !important;
	font-weight:400 !important;
}

body.page-id-5399 .kboard-list thead .kboard-list-view{
	border-bottom-width:1px !important;
	border-bottom-color:#a9a9a9 !important;
	font-weight:400 !important;
}

body.page-id-5399 #kboard-default-list{
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#a9a9a9;
}

body.page-id-5399 .kboard-list tr a{
	color:#273037 !important;
	color:#273037 !important;
}

body.page-id-5399 .kboard-document-wrap .kboard-title h1{
	padding-left:0px !important;
}

body.page-id-5399 .kboard-document-wrap .content-view{
	padding-left:0px !important;
	padding-right:0px !important;
}

body.page-id-5399 #kboard-default-document .kboard-document-wrap .kboard-document-action{
	padding-top:14px;
	padding-left:0px;
}

body.page-id-5399 #kboard-default-document .kboard-document-navi{
	display:none;
}

body.page-id-5399 .kboard-list tbody .kboard-list-date{
	font-size:12px !important;
}

body.page-id-5399 .kboard-list tbody .kboard-list-user{
	font-size:12px !important;
}

body.page-id-5399 .kboard-list tbody .kboard-list-view{
	font-size:12px !important;
}

body.page-id-5399 .kboard-list tbody .kboard-list-vote{
	font-size:12px !important;
}

body.page-id-5399 #kboard-search-form-2{
	display:none;
}

body.page-id-5399 #main{
	background-color:transparent;
}



/*-----------------------------------------------*/
/*  "Front Page" Page                            */
/*-----------------------------------------------*/
body.page-id-912 .elementor-element-37c8132e .stm_lms_courses_carousel__top a{
	visibility:visible;
	display:none;
}



/*-----------------------------------------------*/
/*  "My account" Page                            */
/*-----------------------------------------------*/
body.page-id-5106 .stm-lms-wrapper__login{
	display: none;
}

body.page-id-5106 .woocommerce-account .woocommerce-MyAccount-navigation{
	display: none;
}

body.page-id-5106 .woocommerce-account .woocommerce-MyAccount-content{
	display: none;
}

body.page-id-5106 .woocommerce-notices-wrapper{
	padding-bottom: 40px;
}

body.page-id-5106 .woocommerce-page input.input-text[type="password"]{
	font-family: Arial, Helvetica, sans-serif;
}

@media (min-width:769px){

	body.page-id-5106 .menu a .stm_lms_nav_badge{
	display:none;
	}

}



/*-----------------------------------------------*/
/*  "Home" Page                                  */
/*-----------------------------------------------*/
body.page-id-8287 .elementor-element-02c72d2 .elementor-widget .stm_lms_courses_carousel__buttons{
	margin-top:10px;
}

body.page-id-8287 .elementor-element-02c72d2 .stm_lms_courses_carousel__top a{
	display:none;
}

body.page-id-8287 .stm_lms_courses_carousel__buttons .stm_lms_courses_carousel__button{
	border-radius: 20%;
	width: 36px;
	height: 36px;
	border: 1px solid #000;
	color:#b5b5b5;
	margin: 0 3px;
	border-style:solid;
	border-width:1px;
	border-color:#727272;
}